<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dearho.common.menu.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.dearho.business.menu.model.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="menu_pid" jdbcType="INTEGER" property="menuPid" />
    <result column="menu_order" jdbcType="INTEGER" property="menuOrder" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
</mapper>