<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dearho.common.sms.mapper.SMSCodeMapper">
  <resultMap id="BaseResultMap" type="com.dearho.common.sms.model.SMSCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="channel" jdbcType="INTEGER" property="channel" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_sn" jdbcType="VARCHAR" property="companySn" />
  </resultMap>
  
  <!--  获取满足条件的最后一条短信 -->
  <select id="getLatestSMSCode" parameterType="map" resultMap="BaseResultMap">
        select * from  s_sms_code where 1=1 

            <if test="phoneNo!=null" >
                and phone_no = #{phoneNo}    <!-- #{}和之前使用c3p0的时候写的？含义是相同的 -->
            </if>

            <if test="channel!=null" >
                and channel = #{channel}
            </if>
            <if test="type!=null" >
                and type = #{type}
            </if>
            <if test="ts!=null" >
                and ts > #{ts}
            </if>
        order by ts desc
    </select>
  
  
  
</mapper>